::placeholder {
  color: #bdbdbd;
}

#grad {
  border-radius: 10px;

  background-image: linear-gradient(to left, #272953, #272953);
}
#grad2 {
  border-radius: 10px;
  background-image: linear-gradient(to top, #272953, #272953);
}
#grad3 {
  border-radius: 10px;
  background-image: linear-gradient(to top, #272953, #272953);
}

h3{
  color:rgb(180, 180, 180);
  font-size: 1rem;
}

html,
body {
  color: white;
  background-color: #16113a;
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.main {
  display: flex;
  flex-direction: row;
  width: auto;
}

.main-right {
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 85vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 5vh;
  width: 15vw;
  border-radius: 20px;
  background-color: #756294;
}

.search-bar:hover {
  cursor: text;
}

.search-text {
  outline: none;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}

.dashboard {
  margin-top: 10px;
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-top {
  display: flex;
  justify-content: center;
}

.dashboard-bottom {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border-radius: 0.5rem;
  background-color: #181C27;
  border-color: #181C27;
  border-style: outset;
}

.sidebar {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  margin-right: 10px;
}

.crypto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.crypto:hover {
  cursor: pointer;
  color: rgb(182, 182, 182);
}

.logo {
  max-height: 50px;
  max-width: 40px;
}

.logo2 {
  max-width: 30px;
  margin-right: 5px;
}

.logo3 {
  margin-left: 10px;
  max-width: 25px;
  max-height: 25px;
}

.sidebar-text {
  font-size: 1rem;
}

.crypto-price{
color:#756294;
}

.crypto-name{
font-size: 2rem;
margin-left: 1vw;
margin-right: 1vw;
}

.crypto-graph
{
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  background-color: #181C27;
  border-color: #181C27;
  border-style: outset;
  border-radius: 0.2rem;
  border-width: 0.4rem;
}

.crypto-information{
  display: flex;
  flex-direction: column;
}

.sidebar-top
{
margin-top: 10vh;
}

.sidebar-middle
{
margin-top: 5vh;
}

.sidebar-bottom{
margin-top: 5vh;
}

.sidebar-logo{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.logo-name
{
  font-size: 1.5rem;
  color:rgb(180, 180, 180);
}

h4{
  font-size: 0.8rem;
  color:rgb(121, 121, 121);
}

.dashboard-panel :hover{
cursor: pointer;
}

.layout-panel :hover{
  cursor: pointer;

}

.inbox-panel :hover{
  cursor: pointer;

}

.economics-panel :hover{
  cursor: pointer;

}

.invoice-panel :hover{
  cursor: pointer;

}

.event-panel :hover{
  cursor: pointer;

}
.project-panel :hover{
  cursor: pointer;

}

.profile-panel :hover{
  cursor: pointer;

}

.table-panel :hover{
  cursor: pointer;

}

.calculator-panel :hover{
  cursor: pointer;

}

.log :hover{
  cursor: pointer;
}